<div class="container board grad" >
    <div class="flex-container " *ngFor ="let row of Rows" [ngStyle]="{ 'height': 100/Rows.length + '%' }">
        <app-cell  *ngFor ="let col of Cols" 
                            id="{{row}}_{{col}}"
                            [sudokuNumber]="SudokuGrid[row-1][col-1]"
                            (inputEvent)="recieveInput($event)"
                            [ngStyle]="{ 'width': 100/Cols.length + '%',
                                        'height': 100 + '%',
                                        'border-bottom': ChooseBorderType(row),'border-right': ChooseBorderType(col)}">
            
        </app-cell>
    </div>
    <div class="flex-container" >
        <button class="btn btn-primary btn-lg" 
        [disabled]="!boardFilled ? true: false"
        (click) = "solveSudokuPuzzle(0,0)"
        [ngStyle]="{'margin-top':'3%','margin-left':'10%'}"> Solve Sudoku Puzzle
        </button>
        <button class="btn btn-info btn-lg" 
            [disabled]="!boardFilled ? false: true"
            (click) = "clearGrid()"
            [ngStyle]="{'margin-top':'3%','margin-left':'11.5%'} "> Clear Sudoku Puzzle
        </button>
    </div>
    
</div>
<div class="vl"></div>
