
.board {
    width: 600px;
    height: 600px;
    border: 4px solid black;
    border-radius: 5px;
    padding: 0px;
    margin-top: 40px;
    margin-left: 60px;
    position:absolute;
    
}

.flex-container {
    display: flex;
  }


.vl {
    border-left: 3px solid rgba(53, 134, 44, 0.689);
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }