<input type="text" maxlength="1" class="input" 
                    (keydown)="validate($event)"  
                    (mouseenter)="changeColorOnEnter()" 
                    (mouseleave)="changeColorOnLeave()"
                    (input) ="updateInput($event)"
                    [value]="(sudokuNumber==0) ? null : sudokuNumber"
                    [ngStyle]="{'background':color,
                                'transition':'background 0.75s'
                            }"
                            > 
